# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=America/Sao_Paulo

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com

N8N_PORT=4016

DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_HOST=veridata.postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_USER=user...
DB_POSTGRESDB_PASSWORD=pass...
DB_POSTGRESDB_SCHEMA=public