name: veridata

services:
  veridata_bot:
    build: .
    container_name: veridata.bot
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --proxy-headers --forwarded-allow-ips '*'
    ports:
      - "${VDBOT_PORT:-8000}:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
          ignore:
            - .venv/
            - __pycache__/
            - .git/
            - .env
    networks:
      veridata.network:
        aliases:
          - veridata.bot

networks:
  veridata.network:
    external: true