name: veridata

services:
  veridata_bot:
    build: .
    container_name: veridata.bot
    volumes:
      - .:/app
      - /app/.venv
    ports:
      - "${VDBOT_PORT:-4019}:4019"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=veridata.postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}

    # Optional: Watch Configuration
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
          ignore:
            - .venv/
            - __pycache__/
            - .git/
            - .env

    networks:
      veridata.network:
        aliases:
          - veridata.bot

networks:
  veridata.network:
    external: true