version: "3.8"

services:
  veridata_bot:
    build: .
    container_name: veridata_bot
    restart: always
    ports:
      - "${APP_PORT:-4019}:4019"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - APP_PORT=4019
      - POSTGRES_DB=${POSTGRES_DB:-veridata_bot}
      - POSTGRES_USER=${POSTGRES_USER:-veridata_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-veridata_pass}
      - POSTGRES_HOST=${POSTGRES_HOST:-veridata.postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
    volumes:
      - .:/app
    networks:
      veridata.network:
        aliases:
          - veridata.bot
    external_links:
      - veridata.postgres

networks:
  veridata.network:
    external: true
