name: veridata

services:
  veridata_bot:
    build: .
    container_name: veridata_bot
    restart: always
    ports:
      - "${APP_PORT:-4019}:4019"
    environment:
      - APP_PORT=4019
      - ADMIN_USER=${ADMIN_USER:-vd}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-vd}
      - POSTGRES_DB=${POSTGRES_DB:-veridata_bot}
      - POSTGRES_USER=${POSTGRES_USER:-veridata_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-veridata_pass}
      - POSTGRES_HOST=${POSTGRES_HOST:-veridata.postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
            - __pycache__/
            - .git/
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: uv.lock
        - action: rebuild
          path: Dockerfile
    networks:
      veridata.network:
        aliases:
          - veridata.bot
    external_links:
      - veridata.postgres

networks:
  veridata.network:
    external: true
