name: databases
services:
  redis:
    image: redis:alpine
    container_name: veridata.redis
    restart: always
    command: ["sh", "-c", 'redis-server --requirepass "$REDIS_PASSWORD"']
    env_file: .env
    volumes:
      - redis_data:/data
    ports:
      - "127.0.0.1:${REDIS_PORT:-6379}:6379"
    networks:
      veridata.network:
        aliases:
          - veridata.redis
volumes:
  redis_data:
    driver: local

networks:
  veridata.network:
    external: true