name: veridata

services:
  veridata_worker:
    build: .
    container_name: veridata.worker
    env_file:
      - .env
    ports:
      - "${API_PORT:-8000}:8000"
    volumes:
      - ./src:/app/src
    networks:
      veridata.network:
        aliases:
          - veridata.worker
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
        - action: rebuild
          path: ./pyproject.toml

networks:
  veridata.network:
    external: true
