services:
  evolution_api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.1.1
    restart: always
    ports:
      - "${EVOLUTION_PORT:-8080}:8080"
    env_file:
      - .env
    networks:
      veridata.network:
        aliases:
          - veridata.evolution
    volumes:
      - evolution_instances:/evolution/instances

volumes:
  evolution_instances:

networks:
  veridata.network:
    external: true

