services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: veridata.postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - veridata.network

volumes:
  postgres_data:

networks:
  veridata.network:
    external: true
